<div class="main-content">

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">

                    <div class="col-md-2">
                        <div class="form-group form-black label-floating is-empty">


                            <select #selectElem (change)="selectedUnit($event)" class="form-control">
                                <option [value]='-1'>Select Template</option>
                                <option *ngFor="let unit of getAllUnit;let count = index" [value]="count">
                                    {{unit.nm}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">

                        <div class="form-group form-black label-floating is-empty">


                            <select #selectElem (change)="selectedTemp($event)" class="form-control">
                                <option [value]='-1'>Select Unit</option>
                                <option *ngFor="let temp of templateDetails;let count = index" [value]="count">
                                    {{temp.n}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-black label-floating is-empty">

                            <input class="form-control" [(ngModel)]="fromDate" ng2-datetime-picker date-format="DD/MM/YYYY HH:mm" parse-format="YYYY-MM-DD HH:mm:ss"
                                [close-on-select]="false" />
                        </div>



                    </div>
                    <div class="col-md-2">

                        <div class="form-group form-black label-floating is-empty">

                            <input class="form-control" [(ngModel)]="toDate" ng2-datetime-picker date-format="DD/MM/YYYY HH:mm" parse-format="YYYY-MM-DD HH:mm:ss"
                                [close-on-select]="false" />
                        </div>


                    </div>

                    <div class="col-md-2">
                        <div class="form-group form-black label-floating is-empty">

                            <button (click)="submit()" type="submit" class="btn btn-success top-btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row"  style="background-color: #fff">
            <a (click)="downloadStat(false)" class="download" *ngIf="!showSpinner && showResult">
                <i class="material-icons pull-right">print</i>
            </a>
            <a (click)="downloadStat(true)" class="download" *ngIf="!showSpinner && showResult">
                <i class="material-icons pull-right">picture_as_pdf</i>
            </a>
            <div class="col-lg-8 col-md-12" *ngIf="!showSpinner && showResult" id="printDiv">
                <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="orange">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">

                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#profile" data-toggle="tab">
                                            <i class="material-icons">info</i>
                                            Information
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>

                                                <div class="stats">
                                                    <i class="material-icons text-danger inner-icon">access_time</i>
                                                    <a>{{stats.startTime}}</a>
                                                </div>
                                                <p class="category">Start Time</p>

                                            </td>
                                            <td>

                                                <div class="stats">
                                                    <i class="material-icons text-danger inner-icon">access_time</i>
                                                    <a>{{stats.endTime}}</a>
                                                </div>
                                                <p class="category">End Time</p>

                                            </td>
                                            <td>

                                                <div class="stats">
                                                    <i class="material-icons text-danger inner-icon">directions_run</i>
                                                    <a>{{stats.runninghour}}</a>
                                                </div>
                                                <p class="category">Total Running Hours</p>

                                            </td>
                                            <td>

                                                <div class="stats">
                                                    <i class="material-icons text-danger inner-icon">local_parking</i>
                                                    <a>{{stats.idealduration}}</a>
                                                </div>
                                                <p class="category">Total Ideal Hours</p>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

                                                <div class="stats">
                                                    <i class="material-icons text-danger inner-icon">local_shipping</i>
                                                    <a>{{stats.avgSpeed}}</a>
                                                </div>
                                                <p class="category">Avg Speed</p>

                                            </td>
                                            <td>

                                                <div class="stats">
                                                    <i class="material-icons text-danger inner-icon">map</i>
                                                    <a>{{stats.totalKm}}</a>
                                                </div>
                                                <p class="category">Total Distance</p>

                                            </td>
                                            <td>

                                                <div class="stats">
                                                    <i class="material-icons text-danger inner-icon">remove_red_eye</i>
                                                    <a>{{stats.maxSpeed}}</a>
                                                </div>
                                                <p class="category">Max Speed</p>

                                            </td>
                                            <td>

                                                <div class="stats">
                                                    <i class="material-icons text-danger inner-icon">report</i>
                                                    <a>{{stats.vioCount}}.</a>
                                                </div>
                                                <p class="category">No.Of Speed Violations</p>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" id="sample">
                <div class="card">

                    <div class="card-content chart">
                        <div id="chartdiv"></div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row" *ngIf="!showSpinner && showResult">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="card-content">
                        <a (click)="donwloadPdf(false)" class="download">
                            <i class="material-icons pull-right">print</i>
                        </a>
                        <a (click)="donwloadPdf(true)" class="download">
                            <i class="material-icons pull-right">picture_as_pdf</i>
                        </a>

                        <div class="col-md-12">
                            <ng2-smart-table [settings]="settings" [source]="travelLogReportArray"></ng2-smart-table>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="col-md-4">
                <ng2-smart-table [settings]="settings" [source]="travelLogReportArray"></ng2-smart-table>
            </div> -->
        </div>


    </div>

    <div class="loader" *ngIf="showSpinner && !showResult">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
</div>